<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0">
    <title>Skinny Admin</title>
    <!--link rel="stylesheet" type="text/css" href="../assets/style.css" /-->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet">
  </head>

  <body>
    <div class="main-box">
      <!--header -->
      <header class="main-header">
        <a href="#" class="site-logo">
          <img src="<%= asset_path("site-logo.png") %>" width="130" height="39" alt="site logo" />
        </a>
        <nav class="tabs-row">
          <a href="#">Operations  <br /> Clients</a>
          <a href="#">Recruitment  <br /> panle Overview</a>
          <a href="#">Redirects  <br /> vendors</a>
          <a href="#">Categories  <br /> Screeners</a>
          <a href="#">Email Templates  <br /> Feature 2</a>
          <a class="signout" href="#">archie@slicemr.com <br />
            Sign Out</a>
        </nav>
      </header>

      <!--main data -->
      <main class="content-box">
        <aside class="side-bar">
          <ul class="nav-bar">
            <!--sidebar -->
            <li class="first"><span>Users</span>
              <ul class="child-list">
                <li>
                  <a href="#">Archie Ignaclo</a>
                </li>
                <li>
                  <a href="#">Sumit Kumar</a>
                </li>
              </ul>
            </li>
            <li class="first"><span>Status</span>
              <ul class="child-list">
                <li>
                  <a class="blue" href="#">Draft</a>
                </li>
                <li>
                  <a class="green" href="#">Live</a>
                </li>
                <li>
                  <a class="red" href="#">Hold</a>
                </li>
                <li>
                  <a class="purple" href="#">Finished</a>
                </li>
                <li>
                  <a href="#">Invoiced</a>
                </li>
              </ul>
            </li>
            <li class="first"><span>Projects</span>
              <ul class="child-list">
                <li>
                  <a href="#">SO1234</a>
                </li>
                <li>
                  <a href="#">FS3456</a>
                </li>
                <li>
                  <a href="#">SO1234</a>
                </li>
                <li>
                  <a href="#">FS3456</a>
                </li>
                <li>
                  <a href="#">SO1234</a>
                </li>
                <li>
                  <a href="#">FS3456</a>
                </li>
              </ul>
            </li>
            <li class="first"><span>Support</span></li>
          </ul>
          <span class="version">Version 1.0</span>
        </aside>
        <div class="data-wrapper">

          <!--data header -->
          <div class="data-header">
            <div class="data-list">
              <div class="data-row">
                <strong class="title">Name</strong>
                <span class="data orange">Gen Pop Study</span>
              </div>
              <div class="data-row">
                <strong class="title">Work Order</strong>
                <span class="data blue">SO1234</span>
              </div>
              <div class="data-row">
                <strong class="title">System Id</strong>
                <span class="data red">848569</span>
              </div>
            </div>
            <div class="data-list">
              <div class="data-row">
                <strong class="title">Type</strong>
                <span class="data">AD HOC</span>
              </div>
              <div class="data-row">
                <strong class="title">Client</strong>
                <span class="data">Client Test Corparation</span>
              </div>
              <div class="data-row">
                <strong class="title">Client Email</strong>
                <span class="data">aclienttest@test.com</span>
              </div>
            </div>
            <div class="data-list">
              <div class="data-row">
                <strong class="title">Manager</strong>
                <span class="data">Archie Ignacio</span>
              </div>
              <div class="data-row">
                <strong class="title">Salesperson</strong>
                <span class="data">Frank Haydon</span>
              </div>
              <div class="data-row">
                <strong class="title">Created</strong>
                <span class="data">7/20/20 12:00 AM</span>
              </div>
            </div>
            <div class="data-list">
              <div class="data-row">
                <strong class="title">Status</strong>
                <span class="data blue">Draft</span>
              </div>
              <div class="data-row">
                <strong class="title">Product</strong>
                <span class="data">Sample Only</span>
              </div>
              <div class="data-row">
                <strong class="title">Sample</strong>
                <span class="data">Consumer</span>
              </div>
            </div>
            <div class="data-list">
              <div class="data-row">
                <strong class="title">Start Data</strong>
                <span class="data">07/20/20</span>
              </div>
              <div class="data-row">
                <strong class="title">End Date</strong>
                <span class="data">07/28/20</span>
              </div>
              <div class="data-row">
                <strong class="title">Project Total</strong>
                <span class="data green">$13,000.00</span>
              </div>
            </div>
          </div>

          <!--Data window -->
          <div class="data-window">

          </div>
        </div>
      </main>
    </div>
  </body>

</html>
